*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
    background: linear-gradient(to right, rgb(232, 232, 236), rgb(168, 220, 250));
}
:root{
    --backgroundcolor1: rgb(232, 232, 236);
    --backgroundcolor2: rgb(168, 220, 250);
    --backgroundcolor3: whitesmoke;
}
.container {
    background-color: var(--backgroundcolor3);
    padding: 10px;
    border-radius: 20px;
}

figure {
    margin:auto;
    display:block;
    max-width: 100%;
    text-align: center;

}

h1 {
    text-align:center;
}
h4 {
    margin-bottom: 0;
}
h5{
    font-style: italic;
    padding: 0;
    margin: 0;
}

.links{
    background-color: var(--backgroundcolor3);
    padding: 10px;
    border-radius: 10px;
}
.links ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.links li{
    display: inline;
}
.links a{
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--backgroundcolor1);
}
.links a:hover{
    background-color: var(--backgroundcolor2);
}
.links a:visited{
    color: black;
}