*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
    background: lavender;
    background: linear-gradient(to right, lavender, rgb(234, 153, 180));
}

.container
{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

figure {
    margin:auto;
    display:block;
    max-width: 100%;
    text-align: center;

}

img{
    max-width: 15%;
    height: auto;
}

h1 {
    text-align:center;
}

div {
    justify-content: space-between;
    display: flex;
}